---
layout: default
---

{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{  strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<p>This is a collection of notes I took self-studying Group Theory during a semester. These notes are written in Theorem-Proof style as it is meant to complement a Group Theory class I will be taking soon. These notes are based on the text Contemporary Abstract Algebra by Joseph A. Gillian. Some of the proofs are my own, so if you see any mistakes please email me!</p>
<p> </p>
  <iframe src="Group_Theory.pdf" width="100%" height="700px">
    </iframe>
<!-- Pagination links -->

